*~
*.smod
*.mod
*.o
*.out
*.x
fort.*
/.project
tests/my_tests
tests/test_dispersions
tests/test_helpers
.vscode/settings.json
tests/test_greensroutines
tests/test_initHybrid
tests/test_initialisation
tests/test_fastFourier
*.F90
*.cproject
*.project
*.inc
tests/rough_tests/
tests/hopping_param.f08
tests/test_kramers_kronig
.MakeEnv


tests/test_config
tests/test_config_gen
tests/test_config_avg
