*~
*.smod
*.mod
*.o
*.out
*.x
fort.*
/.project
tests/tests_pFUnit/my_tests
tests/tests_pFUnit/test_dispersions
tests/tests_pFUnit/test_helpers
.vscode/settings.json
tests/tests_pFUnit/test_greensroutines
tests/tests_pFUnit/test_initHybrid
tests/tests_pFUnit/test_initialisation
tests/tests_pFUnit/test_fastFourier
*.F90
*.cproject
*.project
*.inc
tests/rough_tests/
tests/hopping_param.f08
